@mixin button($background-color: #16c2a3, $color: #ffffff, $margin: 50 0 0 0) {
    @include Roboto;
    background-color: $background-color;
    color: $color;
    width: 180px;
    height: 55px;
    border-radius: 27.5px;
    border: none;
    cursor: pointer;
    margin: $margin;
}
@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
    background-image: url($url);
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}
