.container {
    @include xl(max-width, rem(1920));
    height: 100vh;
    background: url(../../../img/bg.png) no-repeat;
    background-size: cover;
    padding-left: 255px;
    padding-right: 255px;
}
.header{
    display: flex;
    justify-content: space-between;
    &-logo{
        
    }
    &-menu{
        @include Roboto;
        padding-top: 35px;
        a {
            color: #ffffff;
            text-decoration: none;

        }
        a:not(:last-child){
            padding-right: 60px;
        }
        a:hover{
            text-decoration: underline;
        }
        &__list{

            &__item{

            }

        }
        
    }
    &-form{
        margin-top: 220px;
        h1{
            @include Roboto;
            color: #ffffff;
            font-size: 50px;
        }
        p{
            color: #ffffff;
            font-size: 18px;
            @include Sans;
            margin-top: 50px;
            line-height: 2;
        }
        button{
            @include button;
            transition: transform .2s;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}
