.header {
    @include bgImage($url: "../../../img/bg.png" , $size: cover );
    &-container {
        @include container();
    }
    &-nav {
        @include row-flex();
        justify-content: space-between;
        margin: 0 auto;
        &__menu {
            @include Roboto;
            padding-top: 35px;
            a {
                color: $white;
                text-decoration: none;
            }
            a:not(:last-child) {
                padding-right: 60px;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
    &-form {
        margin-top: 220px;
        padding-bottom: 195px;
        h1 {
            @include Roboto;
            color: $white;
            font-size: 50px;
        }
        p {
            @include Sans;
            color: $white;
            font-size: 18px;
            line-height: 2;
            margin-top: 50px;
        }
        button {
            @include button;
            margin-top: 50px;
            transition: transform .2s;
        }
        button:hover {
            transform: scale(1.1);
        }
    }
}
