.header
    .header-container
        .header-nav
            .header-nav-logo
                a(href="#")
                    img(src="../../../img/logo.png", alt="logo")
            .header-nav-menu 
                nav.header-nav-menu__list
                    a.header-menu__item(href="") HOME
                    a.header-menu__item(href="") ABOUT
                    a.header-menu__item(href="") SERVICE
                    a.header-menu__item(href="") BLOG
                    a.header-menu__item(href="") CONTACT US
    .header-form
        h1 
            |Technology Website
            br 
            |Made Easy!  
        p 
            |The most complete field service software for IT & Mobile
            br
            |Support, Fire Services, Electrical, Maintenance, HVAC & Se-
            br
            |curity Industries
        button SIGN UP FREE