.container-info {
    background-color: $white;
    padding-bottom: 205px;
}
.info{
    @include row-flex();
    margin: 0 auto;
    &-image{
        margin: 115px 0 0 50px;
    }
    &-content{
        @include container();
        justify-content: center;
        margin-top: 220px;
        h1,p{
            @include Roboto;
            color: $gray;
        }
        h1{
            font-size: 36px;
        }
        p{
            font-size: 18px;
            line-height: 1.5;
            margin-top: 40px;
        }
        button{
            @include button($margin: 25px 0 0 0 , $background-color: $gray);
            transition: transform .2s;
        }
        button:hover{
            transform: scale(1.1);
        }
    }
}
  
