- const text = "Small businesses and individuals in Teton County, Wyoming wanting the best of breed technology and information security services. I work with each customer to determine their needs and integrate multiple platforms to create a custom solution. "

include ../../components/image/image

.info
    .info-container
        +image('../../../img/what-we-do.png','what we do')
        .info-content
            h1 What We do?
            p= text
            button LEARN MORE