.container-info
    .info
        .info-image
            img(src="../../../img/what-we-do.png", alt="hands with computers")
        .info-content
            h1 What We do?
            p 
                |Small businesses and individuals in Teton County, Wyoming wanting the best
                br
                |of breed technology and information security services. I work with each cus-
                br
                |tomer to determine their needs and integrate multiple platforms to create a 
                br
                |custom solution. 
            button LEARN MORE