- const news =[{day: '21', month: 'APR', img: '../../../img/news/news-2.png',title: 'Lorem Ipsum is simply dummy text of the printing'},{day: '22', month: 'APR', img: '../../../img/news/news-3.png',title: 'Lorem Ipsum is simply dummy text of the printing'},{day: '23', month: 'APR', img: '../../../img/news/news-4.png',title: 'Lorem Ipsum is simply dummy text of the printing'}]
- const lorem = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."

include ../../components/newsBlock/newsBlock

.blog
    .blog-container
        .blog-title
            h1 Our Latest Blog
            p= lorem
        .blog-news
            .blog-news-main
                a(href="").link-content
                    .blog-news-main__content
                        .blog-news-main__content__date
                            p 20
                            p APR
                        .blog-news-main__content__image
                            img(src="../../../img/news/news-1.png", alt="")
                        .blog-news-main__content__title
                            p Lorem Ipsum is simply dummy text of the printing
                            b
                                +link("#", "READ MORE")
            .blog-news-etc
                each obj in news
                    +newsBlock(obj.day,obj.month,obj.img,obj.title,"#")
                    
