- const textContact = "Feature creep going forward you better eat a reality sandwich before you walk back in that boardroom can you send me an invite"

include ../../components/image/image

section.contact
    .contact-info
        .contact-info-content
            h1 24/7 Real Support
            p= textContact
            button CONTACT SUPPORT
        +image("../../../img/woman.png","woman")