.contact-container
    .contact-info
        .contact-info-content
            h1 24/7 Real Support
            p 
                |Feature creep going forward you better eat a reality sandwich
                br
                |before you walk back in that boardroom can you send me an invite
            button CONTACT SUPPORT
        .contact-info-image
            img(src="../../../img/woman.png", alt="woman")